*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


.flex-container {
    display: flex;
    justify-content : space-evenly;
    padding-top:10px ;
    background-color: #F4EFAF;
    height:50px;
}


body{
    background-color:#EFA694;
}
ิ
h1{
    color: chocolate;
}